.App {
  min-width: 100%;
  font-size: calc(10px + 2vmin);
}

.card {
  height: 150px;
  width: 120px;
  border: 2px solid black;
  margin: 3px;
}

.card-container {
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
}

.dealer-hand {
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}

.player-hand {
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}